<%= form_for(@project) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_area :title, placeholder: "Write the title of the project" %>
    <%= f.text_area :content, placeholder: "Write project's discription " %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
