<li id="project-<%= project.id %>">
  <%= link_to gravatar_for(project.user, size: 50), project.user %>
  <span class="user"><%= link_to project.user.name, project.user %></span>
  <span class="content">
  	<%= project.title %>
  	<%= project.content %>
  	<% project.pictures.each do |p| %>
  	<%= image_tag p.url %>
  	<% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(project.created_at) %> ago.
    <% if current_user?(project.user) %>
    <%= link_to "delete", project, method: :delete, data: { confirm: "You sure?"} %>
    <%= link_to "edit", "/projects/#{project.id}/edit", method: :get %>
    <% end %>
  </span>
</li>