<!DOCTYPE html>
<html>
  <head>
    <title>Robodarshan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Robodarshan", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Our Projects", project_under_rbd_path %></li>
            <li><%= link_to "Workshops and Tutorials", workshops_path %></li>
            <li><%= link_to "Gallery", gallery_path %></li>
            <% if logged_in? %>
            <% if current_user.admin? %>
    | <li><%= link_to "Approve projects", '/projects_approve', method: :get %></li>
    <li><%= link_to "Choose Admin", '/admin_approve', method: :get %></li>

  <% end %>
          <li><%= link_to "chat", '/chat' %></li>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>

          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
            <% flash.each do |message_type, message| %>
                <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>

      <% end %>

      <%= yield %>
    </div>
  <footer class="footer">
  
  <nav>
    <ul>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><%= link_to "Team", team_path %></li>
      
    </ul>
  </nav>
</footer>
    
  </body>
</html>
